Package: jp.soh.reprovision
Name: ReProvision Reborn
Version: 0.8.5~release
Description: Re-sign applications on your device
Section: Applications
Depends: firmware (>= 9.0)
Priority: optional
Conflicts: com.matchstic.reprovision
Architecture: iphoneos-arm
Author: Soh Satoh, Matt Clarke
dev: Matt Clarke
Maintainer: Soh Satoh
Icon: file:///Applications/ReProvision.app/AppIcon60x60@2x.png
